* {
    margin: 0;
}

body {
    margin: 0;
}

header {
    background-image: url(Images/FotoMar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 34%;
    color: white;
    height: 50vh;
}

main {
    text-align: center;
    background-color: rgb(65, 63, 63);
    height: 50vh;
    color: white;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: inline-block;
    padding: 8px 18px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.botao:hover {
    border-color: white;
}

.ParagrafoCinza {
    color: gray;
}

.HrTexto {
    border: 1px solid white;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
}

.HrMain {
    border: 1px solid white;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.ParagrafoImagens {
    margin-top: 230px;
    font-size: 16px;
}

.ParagrafoSecundario {
    margin-top: 2px;
    font-size: 12px;
    word-spacing: 5px;
}

.DivImagem {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 300px;
    box-shadow: 0px 10px 20px rgba(1, 1, 0, 1);
    margin-top: 25px;
}

#Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

#L {
    font-size: 45px;
    color:white;
    margin-left: 30px;
    margin-right: 1400px;
}

#Lava {
    margin-top: 40px;
    font-size: 65px;
    margin-left: 200px;
}

#AHumanExploration {
    color: aqua;
    margin-left: 200px;
    padding-bottom: 15px;
    word-spacing: 5px;
}

#HrTitulo {
    border: 1px solid white;
    width: 40px;
    margin-left: 200px;
}

#HrSubTitulo {
    margin-top: 10px;
    margin-bottom: 20px;
}

#ATravelBlog {
    word-spacing: 5px;
}

#SlowTravelling {
    text-align: center;
    padding-top: 100px;
}

#SlowTrallingName {
    font-size: 45px;
}

#LatestArticles {
    padding-top: 60px;
    font-size: 45px;
}

#OurMostRecentProjects {
    padding-bottom: 10px;
    word-spacing: 5px;
}

#Porto {
    background-image: url(Images/Porto.jpg);
}

#Estrada {
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(Images/Ponte.jpg);
}

#Material {
    background-image: url(Images/Material.jpg);
}

@media only screen and (max-width: 768px) {
    header {
        height: 30vh;
    }

    main {
        height: 70vh;
    }

    .DivImagem {
        width: 100%;
        height: auto;
    }
}